.footer{
    background-color: #fff;
    color: #061547;
    padding: 2em;
    text-align: center;
    box-shadow: 0px 8px 0px 8px rgba(0, 0, 0, 0.030);

}
.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social_list li{
    margin: 0 0.5em;
}
.social_list li:hover{
    color: #2f3be0;
}
.social_list svg:hover{
    color: #2f3be0;
}
.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}
.copy_right{
    margin-top: 1em;
}